.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #dadaed;

  --primary-color: #0a4e0a;
  --secondary-color: #63da63;
  --inverted-primary-color: #096209;
  --inverted-secondary-color: #a6ffa6;
}